{% extends '../../src/_includes/layout.njk'%} 
{% block html %}
  <!-- [START maps_{{tag}}_heading] -->
  <h3>My Google Maps Demo</h3>
  <!-- [END maps_{{tag}}_heading] -->
  <!-- [START maps_{{tag}}_div] -->
  <!--The div element for the map -->
  <div id="map"></div>
  <!-- [END maps_{{tag}}_div] -->
{% endblock %}
