<!--
  Copyright 2019 Google LLC. All Rights Reserved.
 
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
 
       http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
{% extends '../../../shared/layout.njk'%} 
{% block polyfill %}{% endblock %}
{% block resources %}
    {% if mode == "jsfiddle" %}
      <!-- jsFiddle will insert css and js -->
    {% else %}
        <!-- [START maps_{{tag}}_resources_style] -->
        {{ css() -}}
        <!-- [END maps_{{tag}}_resources_style] -->
      {% if js %}{{ js() }}{% endif%}
    {% endif %}
    {% endblock %}
{% block html %}
  <!-- [START maps_{{tag}}_heading] -->
  <h3>My Google Maps Demo</h3>
  <!-- [END maps_{{tag}}_heading] -->
  <!-- [START maps_{{tag}}_div] -->
  <!--The div element for the map -->
  <div id="map"></div>
  <!-- [END maps_{{tag}}_div] -->
{% endblock %}
