{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions", ">1%"]
        },
        "corejs": "3.6",
        "useBuiltIns": "usage"
      }
    ]
  ],
  "sourceType": "script"
}
