<!DOCTYPE html>
<!--
 @license
 Copyright 2019 Google LLC. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
-->
{% extends '../../src/_includes/layout.njk'%} {% block html %}
<div id="container">
<div class="place-overview">
    <div id="info">
    <div id="heading"></div>
    <div id="summary"></div>
    </div>
    <div id="gallery"></div>
</div>
<div id="expanded-image"></div> 
</div>
{% endblock %}