html, body, div, p, ul, ol, li, h1, h2, h3, h4, h5, h6, form, img, input { margin:0; padding:0; border:0 none; }
body { font-size: 14px; }
body { color:#000000; line-height:20px; }
ul { list-style-type:none; }
select, input { vertical-align: middle; }
h3 { margin-top:20px; }
#wrap { height:550px; }
#userpanel { width: 250px; height:550px; position:absolute; left:0; top:0; }
#mappanel { height:100%; padding-left:300px; }
#map { height:100%; }
#userpanel h1 { margin:10px 0 0 5px; }
#markerlist { margin:10px 5px 0 10px; overflow:auto; height:400px; position:relative; }

