body {
  font-family: Roboto, Arial, sans-serif;
  position: relative;
  margin: 0px;
  height: 100%;
  font-size: 10pt;
}

#lightbox {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #ffffff;
  opacity: 0.5;
  display: none;
}

.srcPanel {
  background-color: #ffffff;
  overflow: auto;
  display: none;
  position: absolute;
  top: 30px;
  left: 30px;
  bottom: 30px;
  right: 30px;
  padding: 0px 20px 10px 20px;
  border: 1px solid #606060;
  -moz-box-shadow: 2px 2px 3px #888;
  -webkit-box-shadow: 2px 2px 3px #888;
  box-shadow: 2px 2px 2px #888; 
}

.closeIcon {
  width: 11px;
  height: 11px;
  position: absolute;
  right: 4px;
  top: 4px;
  cursor: pointer;
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

#selectors {
  position: absolute;
  width: 254px;
  height: 701px;
  top: 20px;
  left: 80px;
}

#mapStyle {
  top: 80px;
  right: 10px;
  width: 256px;
  height: 594px;
  position: absolute;
}

#mapStyleScrollable {
  position: relative;
  top: 0px;
  width: 256px;
  height: 544px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.mapStylePanel {
  width: 256px;
  cursor: pointer;
  border-bottom: 1px solid grey;
  padding-bottom: 3px;
  padding-top: 0px;
}

.mapStylePanelHeader {
  border-bottom: 1px solid lightgrey;
  padding: 2px;
  width: 100%;
  margin-top: 0px;
  cursor: auto;
}

.mapStylePanel table {
  white-space: nowrap;
}

.mapStyleLabel {
  text-align: right;
  font-weight: bold;
}

#buttonPanel {
  position: relative;
  border-top: 1px solid grey;
  padding: 1px;
}

.features {
  width: 120px;
  height: 116px;
  margin-bottom: 5px;
}

.elements {
  width: 120px;
  height: 32px;
  margin-bottom: 5px;
}

#featureLists, #elementLists {
  width: 496px;
  padding-top: 4px;
  padding-left: 4px;
}

#featureTypePanel, #elementTypePanel {
  overflow-x: scroll;
  width: 100%;
}

.heading {
  font-weight: bold;
  padding: 4px;
  border-bottom: 1px solid grey;
  font-size: 11pt;
  position: relative;
}

#selectorsHeading {
  width: 250px;  
}

#mapTypesHeading {
  width: 254px;
}

.selectorHeading {
  padding: 2px;
  padding-left: 4px;
  border-bottom: 1px solid lightgrey;
  width: 248px;
  margin-top: 0px;
  background-color: #f0f0ff;
}

.control {
  border: 1px solid #606060;
  background-color: #f0f0f0;
  -moz-box-shadow: 2px 2px 3px #888;
  -webkit-box-shadow: 2px 2px 3px #888;
  box-shadow: 2px 2px 2px #888;
}

#elementHeading, #stylersHeading {
  border-top: 1px solid grey;
  padding-top: 5px;
}

.rule {
  border-bottom: 1px solid lightgrey;
  margin-bottom: 4px;
}

.rulecontrol {
  margin-left: 10px;
  position: relative;
}

#ruleColumn {
  position: relative;
  width: 100%;
}

#huePicker {
  width: 236px;
  height: 24px;
  border: 1px solid black;
  margin-bottom: 4px;
}

#hueSample,#colorSample {
  width: 42px;
  background-color: #f0f0f0;
  border: 1px solid grey;
  padding: 2px;
  height: 20px;
}

#colorSliders {
  border-collapse: collapse;
  font-size: 10pt;
}

.colorSlider {
  width: 193px;
  height: 20px;
  margin: 0px; 
}

.colorInt {
  border: 1px solid grey;
  width: 30px;
  margin: 0px;
  text-align: right;
}

.slider {
  width: 238px;
  height: 20px;
  margin: 0px;
}

.ruleValue {
  cursor: default;
  border: 1px solid grey;
  height: 20px;
  margin-bottom: 2px;
  text-align: right;
}

.trashcan {
  background: url('trashcan.png');
  width: 13px;
  height: 16px;
  float: right;
  cursor: pointer;
  margin-right: 5px;
}

#addStyle, #resetStyle {
  float: right;
  margin-right: 5px;  
}

.selector {
  background-color: #f8f8ff;
  width: 100%;
}

.rulename {
  width: 250px;
  border-collapse: collapse;
  font-size: 10pt;
}

.rulename td {
  padding: 0px;
}

#visibilityRule {
  padding-top: 4px;
}

.stylerTable {
  font-size: 10pt;
}

#locationField {
  position: relative;
  margin: 5px;
  height: 20px;
  width: 240px;
  -moz-box-shadow: 2px 2px 3px #888;
  -webkit-box-shadow: 2px 2px 3px #888;
  box-shadow: 2px 2px 2px #888;
}

#staticMapUrlTable {
  width: 640px;
  margin-top: 20px;
  font-family: monospace;
  border-collapse: collapse;
}

#staticMapUrlTable td {
  white-space: nowrap;
  border-top: 1px solid #A9BBDF;
  border-left: 1px solid #A9BBDF;
  border-right: 1px solid #A9BBDF;
  padding: 0;
  background-color: #f8f8f8;
}

#staticMapImgDiv {
  width: 642px;
  padding: 0;
  margin: 0 auto;
}

#staticMapImg {
  width: 640px;
  height: 480px;
  border: 1px solid grey;
  -moz-box-shadow: 2px 2px 3px #888;
  -webkit-box-shadow: 2px 2px 3px #888;
  box-shadow: 2px 2px 2px #888;
}

#staticMapUrl {
  width: 632px;
  overflow: auto;
  text-wrap: none;
  padding: 4px;
}

#staticMap {
  height: 620px;
  overflow: hidden;
  background-color: #ffffff;
}

#json {
  white-space: pre;
  font-family: monospace;
}

.srcTitle {
  font-family: sans-serif;
}

.clickable_label {
  cursor: default;
}

#help {
  width: 500px;
  height: 400px;
  left: 360px;
  top: 20px;
  display: block;
}

#helpButton {
  margin-left: 40px;
}

input:focus, select:focus {
 outline: none;
}