<!doctype html>
<!--
 @license
 Copyright 2019 Google LLC. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
-->

{% extends '../../src/_includes/layout.njk'%}

{% block polyfill %}{% endblock %}

{% block resources %}
  <link rel="stylesheet" type="text/css" href="./style.css">
{% endblock %}

{% block api %}{% endblock %}

{% block html %}
    <div id="root"></div>
    <script type="module" src="./index"></script>
{% endblock %}
