{% spaceless %}{% include "maps/documentation/javascript/examples/full/_apikey.html" %}{% endspaceless %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Directly Accessing Street View Data</title>
    <style>
{% includecode content_path="maps/documentation/javascript/examples/_css/default.css" region_tag="css" html_escape="False" %}
    </style>
  </head>
  <body>
{% includecode content_path="maps/documentation/javascript/examples/_html-body/streetview-service.html" region_tag="html-body" html_escape="False" %}
    <script>
{% includecode content_path="maps/documentation/javascript/examples/_js/streetview-service.js" region_tag="script-body" html_escape="False" %}
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ html_apikey }}&callback=initMap">
    </script>
  </body>
</html>
