---
permalink: /samples/playground.html
---
<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons&display=block" rel="stylesheet">
    <style>
      body {
        scrollbar-width: none;
      }
      ::-webkit-scrollbar {
        display:none;
      }
    </style>
    <script type="module" src="../index.js"></script>    
  </head>
  <body>
  </body>
</html>