<!DOCTYPE html>
<!--
 @license
 Copyright 2019 Google LLC. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
-->
{% block external %}
  <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
{% endblock %}
{% extends '../../src/_includes/layout.njk'%} {% block html %}
<div id="map"></div>
{% endblock %}