<!DOCTYPE html>
<!--
 @license
 Copyright 2019 Google LLC. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
-->
{% extends '../../src/_includes/layout.njk'%} {% block html %}
<div class="pac-card" id="pac-card">
    <p>Search for a place here:</p><!--Do we need this? Is there a better way to do it?-->
</div>
<div id="map"></div>
{% endblock %}