{% if mode != "iframe" %}
  <!-- [START maps_{{tag}}] -->
  <!DOCTYPE html>
  <html>
    <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta charset="utf-8"/>
    <title>{{ title }}</title>
    {% endif %}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    {% block external %}{% endblock %}
    <!-- [START maps_{{tag}}_html_head_api] -->
    {% block api %}
      <script 
        src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback={{ callback }}&libraries={{ libraries }}&v={{ version }}" 
        defer></script>
    {% endblock %}
    <!-- [END maps_{{tag}}_htmll_head_api] -->
    {% if mode == "jsfiddle" %}
      <!-- jsFiddle will insert css and js -->
    {% else %}
      <link rel="stylesheet" type="text/css" href="./style.css" data-inline>
      <script src="./app.js" data-inline></script>
    {% endif %}
    {% if mode != "iframe" %}
    </head>
    <body>
    {% endif %}

    {% block html %}{% endblock %}
    {% if mode != "iframe" %}
    </body>
  </html>
  <!-- [END maps_{{tag}}] -->
{% endif %}