{% macro css() %}
{% if mode == "iframe" or mode == "dev" %}
  <link rel="stylesheet" type="text/css" href="./style.css" data-inline>
{% else %}
  <link rel="stylesheet" type="text/css" href="./style.css" data-inline>
{% endif %}
{% endmacro %}  

{% macro js() %}
{% if mode == "iframe" or mode == "dev" %}
  <script src="./iframe.js" data-inline></script>
{% else %}
  <script src="./index.js" data-inline></script>
{% endif %}
{% endmacro %}  

{% if mode == "iframe" %}
{% else %}
  <!-- [START maps_{{tag}}] -->
  <!DOCTYPE html>
  <html>
    <head>
    <title>{{ title }}</title>
{% endif %}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    {% block external %}{% endblock %}
    {% block api %}
      <script 
        src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback={{ callback }}&libraries={{ libraries }}&v={{ version }}{% if language %}&language={{ language }}{% endif %}{% if region %}&region={{ region }}{% endif %}" 
        defer></script>
    {% endblock %}
    {% block resources %}
    {% if mode == "jsfiddle" %}
      <!-- jsFiddle will insert css and js -->
    {% else %}
      {% if css %}{{ css() }}{% endif%}
      {% if js %}{{ js() }}{% endif%}
    {% endif %}
    {% endblock %}
    {% if mode != "iframe" %}
    </head>
    <body>
    {% endif %}

    {% if mode == "iframe" %}
      <div id="iframe-contents">
    {% endif %}
      {% block html %}{% endblock %}
    {% if mode == "iframe" %}
      </div>
    {% else %}
    </body>
  </html>
  <!-- [END maps_{{tag}}] -->
{% endif %}
