<!-- [START maps_{{tag}}] -->
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta charset="utf-8"/>
    <title>{{ title }}</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    {% block external %}{% endblock %}
    {% if jsfiddle %}
      <!-- jsFiddle will insert css and js -->
    {% else %}
      {% block css %}
        <link rel="stylesheet" type="text/css" href="./style.css" data-inline>
      {% endblock %}
      {% block js %}
        <script src="./app.js" data-inline></script>
      {% endblock %}
    {% endif %}
  </head>
  <body>
    {% block html %}{% endblock %}
  </body>
</html>
<!-- [END maps_{{tag}}] -->