<!doctype html>
<!--
 @license
 Copyright 2019 Google LLC. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0

<html>
  <head>
    <title>React Google Maps - Basic Map</title>
      <script>
        const process = {env: {}}
        process.env.GOOGLE_MAPS_API_KEY = "{{GOOGLE_MAPS_API_KEY}}";
      </script>
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <script type="module" src="./index.tsx"></script>
  </head>
  <body>
    
  </body>
</html>
-->

{% extends '../../src/_includes/layout.njk'%}

{% block polyfill %}{% endblock %}

{% block resources %}
  <link rel="stylesheet" type="text/css" href="./style.css">
{% endblock %}

{% block api %}{% endblock %}

{% block html %}
  <div id="app"></div>
  <script type="module" src="./index"></script>
{% endblock %}