<!--
  Copyright 2019 Google LLC. All Rights Reserved.
 
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
 
       http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
{% extends '../../../shared/layout.njk'%}
{% block external %}
<link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
{% endblock %}
{% block html %}
<!-- Note: The address components in this sample are based on North American address format. You might need to adjust them for the locations relevant to your app. For more information, see
https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-addressform
    -->

<form action="" method="get" autocomplete="off">
  <span class="title">Sample address form for North America</span>
  <label class="fullfield" for="gmp-a1">
    <!-- Avoid the word "address" in id, name, or label text to avoid browser autofill from conflicting with Place Autocomplete. Star or comment bug https://crbug.com/587466 to request Chromium to honor autocomplete="off" attribute. -->
    <span class="formlabel" id="a1-label">Deliver to*</span>
    <input type="text" id="gmp-a1" name="gmp-a1" aria-labelledby="a1-label" required autocomplete="off">
  </label>
  <label class="fullfield" for="address2">
    <span class="formlabel" id="address2-label">Apartment, suite, etc.</span>
    <input type="text" id="address2" name="address2" aria-labelledby="address2-label">
  </label>
  <label class="fullfield" for="locality">
    <span class="formlabel" id="locality-label">City*</span>
    <input type="text" id="locality" name="locality" aria-labelledby="locality-label" required>
  </label>

  <label class="slimfield-left" for="administrative_area_level_1">
    <span class="formlabel" id="administrative_area_level_1-label">State/Province*</span>
    <input type="text" id="administrative_area_level_1" name="administrative_area_level_1"
      aria-labelledby="administrative_area_level_1-label">
  </label>
  <label class="slimfield-right" for="postal_code">
    <span class="formlabel" id="postal_code-label">Postal code*</span>
    <input type="text" id="postal_code" name="postal_code" aria-labelledby="postal_code-label">
  </label>

  <label class="fullfield" for="country">
    <span class="formlabel" id="country-label">Country/Region*</span>
    <input type="text" id="country" name="country" aria-labelledby="country-label">
  </label>
  <button type="button" class="myButton">Save address</button>
</form>

{% endblock %}