{% spaceless %}{% include "maps/documentation/javascript/examples/full/_apikey.html" %}{% endspaceless %}<!DOCTYPE html>
<html>
  <head>
    <title>Synchronous Loading</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
{% includecode content_path="maps/documentation/javascript/examples/_css/default.css" region_tag="css" html_escape="False" %}
    </style>
  </head>
  <body>
{% includecode content_path="maps/documentation/javascript/examples/_html-body/default.html" region_tag="html-body" html_escape="False" %}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ html_apikey }}"></script>
    <script>
{% includecode content_path="maps/documentation/javascript/examples/_js/map-sync.js" region_tag="script-body" html_escape="False" %}
    </script>
  </body>
</html>
