<!DOCTYPE html>
<!--
 @license
 Copyright 2019 Google LLC. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
-->
{% extends '../../src/_includes/layout.njk'%} 
{% block html %}
<p>Query suggestions for 'pizza near Syd':</p>
<ul id="results"></ul>
{% include '../../src/_includes/powered-by-google.njk' %}
{% endblock %}
