<!DOCTYPE html>
<!--
 @license
 Copyright 2019 Google LLC. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
-->
{% extends '../../src/_includes/layout.njk'%} {% block html %}
<gmp-map-3d center="37.7704, -122.3985, 460" range="300" tilt="700"></gmp-map-3d>
{% endblock %}
